[submodule "SMB214-WebSockets_NodeJS"]
	path = SMB214-WebSockets_NodeJS
	url = git@github.com:jouj/SMB214-WebSockets_NodeJS.git
[submodule "Data-storage-Android"]
	path = Data-storage-Android
	url = git@github.com:alitaha89/Data-storage-Android.git
[submodule "SMB214-JQuery"]
	path = SMB214-JQuery
	url = git@github.com:HalaHg/SMB214-JQuery.git
[submodule "smb214-hadoop"]
	path = smb214-hadoop
	url = git@github.com:henryko/smb214-hadoop.git
[submodule "googleAppEngine"]
	path = googleAppEngine
	url = git@github.com:ziadrouhana13/googleAppEngine.git
[submodule "jaspersoft"]
	path = jaspersoft
	url = git@github.com:wamer/jaspersoft.git
[submodule "SOAP-webservices"]
	path = SOAP-webservices
	url = git@github.com:joellegh/SOAP-webservices.git
[submodule "Primeface"]
	path = Primeface
	url = git@github.com:zeinazgheib/Primeface.git
	
[submodule "javafx"]
	path = javafx
url = github.com/adelyounes/SMB214-2014/blob/master/.gitmodules
